*, *::before, *::after{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
body{
  text-align:center;
}
.form-container{
  display:none;
  
}
.display{
  background:rgba(0,0,0,0.5);
  position:absolute;
  top:0;
  bottom:0;
  left: 0;
  right:0 ;
  display:flex;
  justify-content:center;
  align-items:center;
}


#book-form{
  background-color:black;
  padding:1rem;
  display:flex;
  flex-flow:column;
  justify-content:center;
  box-shadow:0 0 1em;
}

#book-form *{
  margin-top:2rem;
}

#read-label{
  color:white;
  margin-bottom:2rem;
}
#add-book, #cancel{
  margin:auto;
  padding: 0.5rem;
}
#cancel{
  background:red;
}

#book-container{
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows:150px;
  margin-top:2rem;
  grid-gap:0.5rem;
  width:100%;
  
}

.book{
  background:purple;
  border-radius:1rem;
}

